<!-- HAhome.html -->

<DOCTYPE! HTML>
<html>
<head>
  <link rel= "stylesheet" type="text/css" href="HAhome.css">
  <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <title>Django Blog Tutorial</title>
  <style>
  body{
    background-color: #1d3557;
  }

  h1{
    font-family: 'Arvo', serif;
    font-size: 6rem;
    color:#F1faee;
  }

  #posts{
    background-color: #F1Faee;
    width: 85%;
  }

  h2{
    font-size: 5rem;
    color: #E63946;
    font-family: 'Arvo', serif;
  }
  h3{
    font-family: 'Arvo', serif;
    font-size: 4rem;
    color: #E63946;
  p{

  }
  }

  </style>
</head>

<body>
  <center>
  <h1>Django Tutorial Blog</h1>
  <div id = "posts">
    <h2>Blog Posts</h2>

    <div>
    <h3><a href="">My First Post</a></h3>
    </div>

    <div>
    <h3><a href="">My Second Post</a></h3>
    </div>

    <div>
    <h3><a href="">My Third Post</a></h3>
    </div>

  </center>
</body>
</html>
